body {

color: rgb(21, 21, 20);
background-color: antiquewhite;

ul{
display: flex;
justify-content: space-between;
list-style-type: none;
align-items: center;
padding: 16px;




}















}
